.container {
    background: #a3a5ab;
}
.col-sm {
    text-align: center;
    margin: 3rem 2rem;
    background: white;
    transform: scale(1.2);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
}
.fas {
    color: aquamarine;
    font-size: 5vw;
}
.btn-radius-50 {
    border-radius: 2rem;
    border: 1px solid transparent;
    padding: 8px 15px;
}
a {
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    color: #141415;
    font-size: .8rem;
    font-weight: 300;
}
a:hover {
    text-decoration: none;
    color: white;
    background: #74a8db;
}
p {
    font-size: 1rem;
    font-weight: 200;
}